body {
    text-align: center;
}

.game-section {
    width: 60%;
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}
  
.chat-section {
    width: 20%;
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}

table {
    width:70%;
    font-family: 'Arial';
    /* border: 2px solid green; */
    background-color: #d9ac79;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    padding: 5px 0px;
}

.black-stone {
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}

.white-stone {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}