body {
    background-color: #d9ac79;
}

table {
    width:50%;
}

td {
    text-align: center;
    padding: 10px 0px;
}

.black-stone {
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}

.white-stone {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}